/abin/
/applicationContext.xml
/application_zh_CN.properties
/c3p0.properties
/com/
/config.properties
/dbcp.properties
/hibernate/
/hibernate.properties
/log4j.properties
/org/
/spring/
/struts/
/struts.properties
/struts.xml
/template/
/test/
/velocity.properties
/xwork-conversion.properties
